<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>

	<div id="heading">
		<div class="head">
			<div id="top">
				<span class="phoneNumber">(044) 222 5 222</span>
				<span class="visible-lg-inline-block visible-md-inline-block time">24 години/ 7 днів на тиждень</span>
				<span class="visible-lg-inline-block title">Безкоштовна доставка піци</span>
				<buton type="button" class="btn btn-warning">Ввійти</button>
			</div>
			<div id="bottom">
				<span class="hidden-xs">Піца</span>
			</div>
		</div>
	</div>
	
	<div class="fixed-panel">
		<div class="topPanel">
			<p class="pizza">PIZZA</p>
			<p class="kma">KMA</p>
			<img class="img" src="assets/images/discount.svg" />
		</div>
		<div class="bottomPanel">
			<img class="img" src="assets/images/discount.svg" />
			<p class="title">ЦЬОГО ТИЖНЯ<br> НА ВСЕ</p>
			<p class="points">...............</p>
			<p class="title">-20%</p>
		</div>
	</div>

